<h1> Deleting a Photo </h1>

<form action="/gone_photo">

  Which one do you want to delete?<br>
  <% Photo.all.each do |list| %>
  <input type="checkbox" name= "photo[]" value= "<%= list.id%>"> <%= list.title%><br>
  <% end %>
  
  <input type= "submit">
</form>

<a href="/photo_menu">Back</a>