<h1>Photo Menu</h1>

<ul>
  <li><a href="/home" >Main Menu</a></li>
  <li><a href="/list_photos" >List of all the Photos</a></li>
  <li><a href="/add_photo" >Add a Photo</a></li>
  <li><a href="/change_photo" >Change a Photo</a></li>
  <li><a href="/delete_photo">Delete a Photo</a></li>
</ul>