<h1> Edit Album </h1>

What you want to edit?

<form action="/edited_album/<%=@album_instance.id%>">
  
   
  
  <p> New Name : <input type="text" placeholder="Name" name="name" value="<%=@album_instance.name%>"></p>
  
  <p> <input type="submit" value="submit changes"></p>

  
</form>
<a href="/change_album">Back</a>