<h1> Deleting a Photographer </h1>

<form action="/gone_photographer">

  Which one do you want to delete?<br>
  <% Photographer.all.each do |list| %>
  <input type="checkbox" name= "photographer[]" value= "<%= list.id%>"> <%= list.name%><br>
  <% end %>
  
  <input type= "submit">
</form>

<a href="/photographer_menu">Back</a>