<h1>Photographer Menu</h1>

<ul>
  <li><a href="/home" >Main Menu</a></li>
  <li><a href="/photo_by_photographer" >Set photo to photographer</a></li>
  <li><a href="/list_photographers" >List of all the Photographers</a></li>
  <li><a href="/add_photographer" >Add a Photographer</a></li>
  <li><a href="/change_photographer" >Change a Photographer</a></li>
  <li><a href="/delete_photographer">Delete a Photographer</a></li>
  
</ul>